/* Navigation Bar */
li,
a {
  color: #caf0f8;
  /* display: flex; */
  font-family: "Bitter", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

header {
  background-color: #023e8a;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  /* margin: 0; */
  /* padding: 2% 5%; */
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 10px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #00b4d8;
}

body {
  background-color: #caf0f8;
  font-family: "Cormorant Infant", sans-serif;
  margin: 0;
  padding: 0px;
}

h1 {
  color: #03045e;
  font-family: "Cormorant", sans-serif;
  margin: 0px;
}

h2 {
  color: #caf0f8;
  margin: 0;
  /* padding: 10px; */
}

hr {
  border-color: #0077b6;
  border-style: dotted none none;
  border-width: 5px;
  margin-top: 15px;
  margin-bottom: 0px;
  overflow: hidden;
  width: 5%;
}

p {
  font-size: 18px;
}

/* Header */
#header {
  align-items: center;
  background-color: #ade8f4;
  display: flex;
  justify-content: center;
}

.headshot {
  height: 200px;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-top: 20px;
}

.headshot:hover {
  cursor: pointer;
}

.headshot,
.intro {
  margin-left: 30px;
}

.intro-description {
  color: #023e8a;
  font-family: "Cormorant Infant";
  font-weight: light;
  margin-left: 25px;
  margin-top: 0px;
}

.intro-name {
  font-family: "Bitter", sans-serif;
  font-size: 40px;
}

button {
  align-items: center;
  background-color: #0096c7;
  border: none;
  border-radius: 5px;
  color: #caf0f8;
  cursor: pointer;
  font-family: "Bitter", sans-serif;
  font-size: 16px;
  height: 10%;
  margin-left: 50%;
  outline: none;
  overflow: hidden;
  width: 50%;
}

.resume-button:hover {
  background: #0077b6;
}

.resume-button:active {
  background: #023e8a;
}

/* About Me */
#biography,
#portfolio {
  display: inline-block;
  /* background-color: red; */
  margin-left: 40px;
  margin-right: 40px;
  color: #023e8a;
}

.content-container {
  /* margin-left: 40px; */
  margin-top: 20px;
}

.fun-facts {
  color: #03045e;
  font-family: "Bitter", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/* Portfolio */
/* Under Construction */
#portfolio {
  margin-top: 20px;
  margin-bottom: 0px;
}

/* Contact Me */
#contact-me {
  background-color: #03045e;
  margin: 0px;
}

.contact-info-container {
  /* border: solid blue; */
  display: flex;
  align-content: center;
  justify-content: center;
  /* padding: 20px;
  margin: 0; */
}

.contact-icons {
  display: inline-block;
  /* text-align: center; */
}

.contact-name {
  color: #caf0f8;
  margin-top: 0px;
  margin-left: 20px;
  padding: 20px;
  padding-bottom: 0;
}

.contact-info {
  /* border: solid red; */
  border-radius: 25px;
  margin: 20px;
  padding: 40px;
  text-align: center;
  width: 30%;
  /* margin-right: 30px; */
}

.contact-info a {
  /* border: solid yellow; */
  margin: 10px;
  padding: 0;
  display: inline-block;
  justify-content: center;
}

.contact-links {
  font-size: 16px;
  overflow: hidden;
  text-decoration: none;
}

.email-icon {
  filter: invert(60%) sepia(200%) saturate(2000%) hue-rotate(150deg)
    brightness(120%) contrast(100%);
}

.icon-info {
  height: 40px;
}

.github-icon {
  filter: invert(55%) sepia(45%) saturate(1200%) hue-rotate(167deg)
    brightness(104%) contrast(100%);
}

.linkedin-icon {
  filter: invert(55%) sepia(110%) saturate(1200%) hue-rotate(167deg);
}

/* .email-icon {
  height: 20px;
} */
